<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">I am an Industrial engineer graduated from Istanbul Technical University and Southern Illinois University. Being from Turkey, and earning a dual diploma, gives me the advantage to be able to understand and communicate a wider range of people in an articulate way. I am a hard-working, innovative person and teamworking individual with intercommunications skills. I have also achieved a minor in Math science from Southern Illinois University as a result of creative thinking and modeling. 
                            I have recently had the honor to internship for Knauf Turkey in the manufacturing department and marketing department for Koç Pharmaceuticals. I have also 2 years working background for Honor Pharmaceuticals Turkey as a business developer. I observed the power of digital and printed media when I was a business developer. These experiences expanded my knowledge in the marketing, manufacturing and business field. In 2016 I have created my own team (Denizcan Seref Creative Workshop) for commercial sector in Ankara, Turkey. My team design websites and banners for individual people and companies. Now you are discovering my personal webpage which one of creative product as created by me. 
                            My background contains strong implication about positive references with people I interacted and behaved toward one another in groups, organizations, and societies    which hold public trust in United States of America and Turkey.
                            First professional goal about myself entail being a fair, ethical and successful person to the society.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013 - 2018</h4>
                                    <h4 class="subheading">Istanbul Technical University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Undergraduate: Industrial Engineering (BsC)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013 - 2018</h4>
                                    <h4 class="subheading">Southern Illinois University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Undergraduate:<br> (Major)Industrial Engineering(BsC), <br>(Minor)Mathematics</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2013</h4>
                                    <h4 class="subheading">Cankaya Anatolian High School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Math and Natural Sciences</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ted.gif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2009</h4>
                                    <h4 class="subheading">TED Ankara College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Primary and secondary school</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>