<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Management</h4>
                    <p class="text-muted">Management skills that comes with leadership skills, as both involve problem-solving, decision-making, planning, communication, project management and time management.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Production</h4>
                    <p class="text-muted">Designing facilities with respect to human element, looking ways to make facilities more efficient to improve production, analyzing the product and designing a method to maintain quality of products with techniques Capacity Requirement Planning and Material Requirement Planning.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Development</h4>
                    <p class="text-muted">Making multiple criteria strategic business decisions, increasing revenues growth in terms of business expansion building strategic partnerships and increasing profitability by new business lines exploration. </p>
                </div>
                </div>
                <div class="row text-center">
                <div class="col-md-4">
                	<span class="fa-stack fa-4x">
                		<i class="fa fa-circle fa-stack-2x text-primary"></i>
                		<i class="fa fa-globe fa-stack-1x fa-inverse"></i>                		
                	</span>
                	<h4 class="service-heading">Marketing</h4>
                	<p class="text-muted">Planning and executing the conception, pricing, promotion and distribution of goods and services, creating a communication channel between the market and the industry, organizing by products to organizing by market segment.</p>
                </div>
                <div class="col-md-4">
                	<span class="fa-stack fa-4x">
                		<i class="fa fa-circle fa-stack-2x text-primary"></i>
                		<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>                		
                	</span>
                	<h4 class="service-heading">CS and Information Systems</h4>
                	<p class="text-muted">Computing with Fortran and MatLab, MS Office, AutoCad, GAMS, Lindo, MS Excel Solver, Siemens NX 3D Design 10.0, Programmable Logic Controller, OpenSim, Super Decisions, Minitab.</p>
                </div>
                <div class="col-md-4">
                	<span class="fa-stack fa-4x">
                		<i class="fa fa-circle fa-stack-2x text-primary"></i>
                		<i class="fa fa-users fa-stack-1x fa-inverse"></i>                		
                	</span>
                	<h4 class="service-heading">Social Skills</h4>
                	<p class="text-muted">Soft Skills, Team Leader, Scuba Diver, Karate-Do Brown Belt, Wing Chun, 3 year professional swimmer (Gazi University Professional Swimming Team), Licensed swimming coach and trainer for Southern University University, Official Presenter in International Cougar World Games 2018.</p>
                </div>
            </div>
        </div>
    </section>